{% extends 'base.html' %}
{% load static %}
{% load comment_tags %}
{% load likes_tags %}

{% block title %}mysite{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block nav_blog_active %}active{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-lg-10">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="mb-0">{% block blog_list_title %}博客列表(一共有{{ page_of_blogs.paginator.count }}篇博客){% endblock %}</div>
                    {% for blog in page_of_blogs.object_list %}
                        <div class="blog">
                            <h3><a href="{% url 'blog:blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                            <div class="blog-info">
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
                                        <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    </svg>
                                    分类：<a href="{% url 'blog:blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>&nbsp;&nbsp;
            
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                                    </svg>
                                    发表时间:{{ blog.created_time|date:"Y-m-d G:i:s" }}&nbsp;&nbsp;
                                    阅读({% get_read_num blog %})
                                    评论({% get_comment_count blog %})
                                    点赞({% get_like_count blog %})
                                </p>
                            </div>
                            <p>{{ blog.content|striptags|truncatechars:120 }}</p>
                        </div>
                    {% empty %}
                        <div class="blog">
                            <h3>-- 暂无博客 --</h3>
                        </div>
                    {% endfor %}
                </div>
                <div class="paginator">
                    <ul class="pagination">
                        {% if page_of_blogs.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_of_blogs.previous_page_number }}">Previous</a></li>
                        {% else %}
                        {% endif %}

                        {% for page_num in elided_page %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                            {% elif page_num == '…' %}
                                <li class="page-item"><span class="page-link">…</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_of_blogs.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_of_blogs.next_page_number }}">Next</a></li>
                        {% else %}
                        {% endif %}
                    </ul>
                    <p>共有{{ page_of_blogs.paginator.count }}篇博客，当前第{{ page_of_blogs.number }}页，共{{ page_of_blogs.paginator.num_pages }}页</p>

                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-lg-2">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div>博客分类</div>
                    <div>
                        <ul class="blog-types">
                            {% for type in all_blog_type %}
                                <li><a href="{% url 'blog:blog_with_type' type.pk %}">{{ type.type_name }}({{ type.blog_set.count }})</a></li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div>日期分类</div>
                    <div>
                        <ul class="blog-types">
                            {% for blog_date in blog_dates %}
                                <li><a href="{% url 'blog:blogs_with_date' blog_date.year blog_date.month %}">{{ blog_date|date:"Y年m月" }}</a></li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
