{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
    {% block header_extends %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-expand-lg  bg-body-tertiary fixed-top bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="">个人博客网站</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link {% block nav_home_active %}{% endblock %}" href="{% url 'home' %}">首页</a>
                </li>
                <li class="nav-item blog">
                    <a class="nav-link {% block nav_blog_active %}{% endblock %}" href="{% url 'blog:blog_list' %}">博客</a>
                </li>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </ul>
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hello!
                    {% if user.has_nickname %}
                      {{ user.get_nickname }}
                    {% endif %}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'user:user_info' %}">个人资料</a></li>
                    <li><a class="dropdown-item" href="{% url 'user:change_password' %}">修改密码</a></li>
                    {% if user.is_staff or user.is_superuser %}
                      <li><a class="dropdown-item" href="{% url 'admin:index' %}">后台管理</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'user:logout' %}?from={{ request.get_full_path }}">登出</a></li>
                  </ul>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user:login' %}?from={{ request.get_full_path }}">登录</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user:register' %}?from={{ request.get_full_path }}">注册</a>
                </li>

              {% endif %}
            </ul>
          </div>
        </div>
      </div>

        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <form id="login-medal-form" method="POST">
                      <div class="modal-header">
                      <h1 class="modal-title fs-5" id="loginModalLabel">登录</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          {% csrf_token %}
                          {% for field in login_modal_form %}
                              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                              {{ field }}
                              <p class="text-danger">{{ field.errors.as_text }}</p>
                          {% endfor %}
                          <span class="text-danger" id="login-medal-tip"></span>
                      </div>
                      <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">登录</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <script type="text/javascript">
        $('#login-medal-form').submit(function(event) {
              event.preventDefault();
              $.ajax({
                  url: "{% url 'user:login_for_medal' %}",
                  type: 'POST',
                  data: $(this).serialize(),
                  cache: false,
                  success: function(data) {
                      if (data['status'] == 'SUCCESS') {
                          window.location.reload();
                      } else {
                          $('#login-model-tip').text('用户名或密码不正确');
                      }
                  }
              });
              return false;
          });
      </script>

    {% block content %}

    {% endblock %}

    {% block script_extends %}

    {% endblock %}
    
</body>
</html>